USE [master]
GO
/****** Object:  Database [DbForTxtFiles]    Script Date: 23.05.2016 15:25:44 ******/
CREATE DATABASE [DbForTxtFiles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbForTxtFiles', FILENAME = N'e:\mssql\DbForTxtFiles.mdf' , SIZE = 34816KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DbForTxtFiles_log', FILENAME = N'E:\mssql\DbForTxtFiles_log.ldf' , SIZE = 219264KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbForTxtFiles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbForTxtFiles]
GO
/****** Object:  Table [dbo].[Dirrectories]    Script Date: 23.05.2016 15:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dirrectories](
	[DirrectoryID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Dirrectories_DirrectoryID]  DEFAULT (newid()),
	[DirrectoryName] [nvarchar](256) NULL,
 CONSTRAINT [PK_Dirrectories] PRIMARY KEY CLUSTERED 
(
	[DirrectoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileData]    Script Date: 23.05.2016 15:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileData](
	[FileId] [uniqueidentifier] NOT NULL,
	[FileData] [image] NOT NULL,
 CONSTRAINT [PK_FileData] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 23.05.2016 15:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[FileId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Files_FileId]  DEFAULT (newid()),
	[FileName] [nvarchar](256) NOT NULL,
	[FileTypeID] [uniqueidentifier] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DirrectoryID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__Files__6F0F98BF7F60ED59] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileTypes]    Script Date: 23.05.2016 15:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypes](
	[FileTypeID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FileTypes_FileTypeID]  DEFAULT (newid()),
	[FileTypeName] [nvarchar](128) NULL,
 CONSTRAINT [PK_FileTypes] PRIMARY KEY CLUSTERED 
(
	[FileTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Words]    Script Date: 23.05.2016 15:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Words_WordID]  DEFAULT (newid()),
	[WordName] [nvarchar](128) NOT NULL,
	[WordPositionCol] [int] NOT NULL,
	[WordPositionRow] [int] NOT NULL,
	[FileId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__Words__2C20F04603317E3D] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[WordsGrouped]    Script Date: 23.05.2016 15:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create View [dbo].[WordsGrouped]
as
SELECT
	WordName
	,f.FileName
	,COUNT(*) as CountWords
FROM [dbo].[Words] w
join Files f on f.FileID = w.FileId
group by WordName,f.FileName
	

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [index_fn]    Script Date: 23.05.2016 15:25:44 ******/
CREATE NONCLUSTERED INDEX [index_fn] ON [dbo].[Files]
(
	[FileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [index_w]    Script Date: 23.05.2016 15:25:44 ******/
CREATE NONCLUSTERED INDEX [index_w] ON [dbo].[Words]
(
	[WordName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileData]  WITH CHECK ADD  CONSTRAINT [FK_FileData_Files] FOREIGN KEY([FileId])
REFERENCES [dbo].[Files] ([FileId])
GO
ALTER TABLE [dbo].[FileData] CHECK CONSTRAINT [FK_FileData_Files]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Dirrectories] FOREIGN KEY([DirrectoryID])
REFERENCES [dbo].[Dirrectories] ([DirrectoryID])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Dirrectories]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_FileTypes] FOREIGN KEY([FileTypeID])
REFERENCES [dbo].[FileTypes] ([FileTypeID])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_FileTypes]
GO
ALTER TABLE [dbo].[Words]  WITH NOCHECK ADD  CONSTRAINT [FK_Words_Files] FOREIGN KEY([FileId])
REFERENCES [dbo].[Files] ([FileId])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Files]
GO
USE [master]
GO
